<div class="col-xs-offset-2">
  <h2><%= @article.title %></h2>
</div>

<div class="well col-xs-8 col-xs-offset-2">
  <% if @article.user %>
    <p class="listing article-author row">
      <%= simple_format("Created by " + @article.user.username) %>
    </p>
<% end %>

<div class="article-body">
  <%= simple_format(@article.description) %>
</div>

<% if logged_in? && current_user.admin? %> 
  <div class="article-actions">
    <%= link_to "Edit", edit_article_path(@article), class: "btn btn-xs btn-primary" %>
    <%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-xs btn-danger" %>
    <%= link_to "View all articles", articles_path, class: "btn btn-xs btn-success" %>
  </div>
  <% end %>
  
</div>